<table class="pure-table pure-table-horizontal">
<thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Party</th>
    <th>Vote Count</th>
  </tr>
</thead>
<tbody>
{{#each elected}}
  <tr>
    <td>{{@index}}</td>
    <td>{{this.0.other_names}} {{this.0.surname}}</td>
    <td>{{this.0.party}}</td>
    <td>{{this.1}}</td>
  </tr>
{{/each}}
</tbody>
</table>
