<table class="pure-table pure-table-horizontal">
<thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Party</th>
    <th>Vote Count</th>
  </tr>
</thead>
<tbody>
{{#each elected}}
  <tr>
    <td>{{this.position}}</td>
    <td>{{this.candidate.other_names}} {{this.candidate.surname}}</td>
    <td>{{this.candidate.party}}</td>
    <td>{{this.vote_tally}}</td>
  </tr>
{{/each}}
</tbody>
</table>
